html {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: lightblue;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	width: 100%;
	background-position: center;
	font-family: sans-serif;
}


input#goback{
  	top: 8px;
  	left: 16px;
	text-align: left;
	float: left;
	right: 0;
	background: url(../images/goback.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	margin-left: 20px;
	margin-top: 20px;
	height: 100px;
	width: 100px;
	border-style: solid;
	border-width: 3px;
    border-color: black;
}

input#cart {
  	top: 8px;
  	right: 16px;
	left: 0;
	text-align: right;
	float: right;
	background: url(../images/cart.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	background-color: white;
	margin-right: 20px;
	margin-top: 20px;
	height: 100px;
	width: 100px; 	
	border-style: solid;
	border-width: 3px;
    border-color: black;
}

input#cola {
	background: url(../images/soda/cola.jpeg);
  	background-size: 100% 100%;
	letter-spacing: 2px;
	height: 260px;
	margin-top: 220px;
	color: white;
	font-size: 50px;
	text-align: center;
 	resize: none;
  	outline: none;
	width: 260px;

   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
    	3px 3px 0 #000,
    	-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    border-style: solid;
    border-width: 5px;
    border-color: black;

}
input#troca {
	background: url(../images/soda/troca.jpeg);
  	background-size: 100% 100%;
	letter-spacing: 2px;
	height: 260px;
	margin-top: 20px;
	color: white;
	font-size: 50px;
	text-align: center;
 	resize: none;
  	outline: none;
	width: 260px;

   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
    	3px 3px 0 #000,
    	-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    border-style: solid;
    border-width: 5px;
    border-color: black;

}
input#sprite{
	background: url(../images/soda/sprite.jpeg);
  	background-size: 100% 100%;
	letter-spacing: 2px;
	height: 260px;
	margin-top: 20px;
	color: white;
	font-size: 50px;
	text-align: center;
 	resize: none;
  	outline: none;
	width: 260px;

   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
    	3px 3px 0 #000,
    	-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    border-style: solid;
    border-width: 5px;
    border-color: black;

}

